:import("path/library.css") {
  importName: __imported_importName_0;
  importName2: __imported_importName2_1;
}

@media screen {
  :local(.exportName) {
    extends: __imported_importName_0;
    extends: __imported_importName2_1;
    other: rule2;
  }
}

:local(.exportName) {
  extends: __imported_importName_0;
  other: rule;
}
