:import("path/library.css") {
  importName: __imported_importName_0;
  secondImport: __imported_secondImport_1;
  thirdImport: __imported_thirdImport_2;
}
:import("path/other-lib.css") {
  otherLibImport: __imported_otherLibImport_3;
}
:local(.exportName) {
  extends: __imported_importName_0 __imported_secondImport_1;
  other: rule;
}
:local(.otherExport) {
  extends: __imported_thirdImport_2;
  extends: __imported_otherLibImport_3;
}
